<h1>Cedulas Profesionales</h1>
<table>
<tr>
    <td><strong>Cedulas</strong></td>
    <td><%= @cedulas %></td>
</tr>
<tr>
    <td><strong>Titles</strong></td>
    <td><%= @titles %></td>
</tr>
<tr>
    <td><strong>Institutions</strong></td>
    <td><%= @institutions %></td>
</tr>
</table>

<%= link_to 'See all cedulas', cedulas_path %>
